@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đặt hàng thành công!</h1>
        Số hóa đơn : @Model <br /><br />
        <img src="~/asset/images/functions/check.png" width="40%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        <h2>Chúc mừng bạn đã đặt hàng thành công! </h2>
        <br />

    </div>
</div> 