@using System.Text.RegularExpressions;
@using System.IO;

<form method="post" class="form-function">
    <input hidden />
    <div class="container">

        <!-- NEWS DETAIL -->
        <section id="news-detail" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- NEWS THUMB -->
                        <div class="about-info">
                            <h2 class="wow fadeInUp function-title" data-wow-delay="0.3s" style="color:orangered">
                                Chức năng hệ thống báo cáo
                            </h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">
                                <img src="~/asset/images/functions/8.png" alt="" style="max-width:100%;max-height:100%" />
                            </p>
                        </div>
                    </div>
                </div>
                <!-- CHUCNANG -->
                <section id="func" class="">
                    <div class="container mt-3 mb-3">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 overrate">
                                <div class="about-info">
                                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Các tính năng quản lý chuyên khoa</h2>
                                    <h4 class="wow fadeInUp" data-wow-delay="0.4s">
                                        Phần mềm quản lý phòng khám Kclinic giúp quản lý bệnh nhân, lịch hẹn, đơn thuốc và nhiều hơn thế nữa ...
                                    </h4>
                                </div>
                                <div id="funcarea" class="row" style="padding-top:40px;">
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function1" target="_self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/ho-so-dien-tu.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Tiếp nhận bệnh nhân</h3>
                                        </a>


                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function2" target=" _self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/lich-hen.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Khám bệnh</h3>
                                        </a>


                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function3" target="_self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/patient-file.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Xét nghiệm</h3>
                                        </a>


                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function4" target="_self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/patient.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Chuẩn đoán hình ảnh</h3>
                                        </a>


                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function5" target="_self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/dich-vu.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Quản lý dược phẩm</h3>
                                        </a>


                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function6" target="_self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/telesaleMarketing.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Quản lý Danh mục</h3>
                                        </a>


                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function7" target="_self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/kho.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Quản trị hệ thống</h3>
                                        </a>


                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                        <a asp-area="Customer" asp-controller="Home" asp-action="Function8" target="_self" class="text-center">
                                            <div class=" d-flex justify-content-center">
                                                <img src="~/asset/images/voucher.png" style="width:45px; height:45px;" />
                                            </div>
                                            <h3 style="margin-bottom:25px;">Hệ thống báo cáo</h3>
                                        </a>


                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="news-social-share">
                            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                            <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                            <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                        </div>
                    </div>
                </section>
 
            </div>
        </section>


    </div>
</form>