@using System.Text.RegularExpressions;
@using System.IO;
@model Kclinic.Models.ViewModels.FunctionVM;
<form method="post" class="form-function">
    <input hidden />
    <div class="container">

        <!-- NEWS DETAIL -->
        <section id="news-detail" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- NEWS THUMB -->
                            <div class="about-info">
                                <h2 class="wow fadeInUp function-title" data-wow-delay="0.3s" style="color:orangered"> 
                                   @Model.Function.Title
                                </h2>
                                <p class="wow fadeInUp" data-wow-delay="0.8s">
                                    <img src="@Model.Function.ImageUrl" alt=""  style="max-width:100%;max-height:100%"/>
                                </p>
                            </div>
                    </div>                  
                </div>
                <!-- CHUCNANG -->
                <section id="func" class="">
                    <div class="container mt-3 mb-3">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 overrate">
                                <div class="about-info">
                                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Các tính năng quản lý chuyên khoa</h2>
                                    <h4 class="wow fadeInUp" data-wow-delay="0.4s">
                                        Phần mềm quản lý phòng khám Kclinic giúp quản lý bệnh nhân, lịch hẹn, đơn thuốc và nhiều hơn thế nữa ...
                                    </h4>
                                </div>
                                <div id="funcarea" class="row" style="padding-top:40px;">
                                    @{
                                        int count = 1;
                                    }
                                    @foreach (var function in Model.Functions)
                                    {
                                        <div class="col-lg-3 col-md-4 col-6 px-3 mb-2">
                                            <a asp-area="Customer" asp-controller="Home" asp-action="Function" asp-route-id="@function.Id" target="_self" class="text-center">
                                                <div class=" d-flex justify-content-center">
                                                    <img src="~/asset/images/func@(count).png" style="width:45px; height:45px;" />
                                                </div>
                                                <h3 style="margin-bottom:25px;">@function.Title</h3>
                                            </a>
                                        </div>
                                        count++;
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
 
            </div>
        </section>
    </div>
</form>